<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Soundspace</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'soundcloud/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'soundcloud/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'soundcloud/css/jumbotron.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'soundcloud/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-light bg-faded navbar-fixed-top" style="background-color: #d3d3d3;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'loginandreg:homepage' %}"><img src='{% static 'loginandreg/image/soundspace.png' %}'></a>
          <a class="navbar-brand" href="{% url 'soundspace:stream' %}">Home</a>
          <a class="navbar-brand" href="{% url 'upload:index' %}">Uploads</a>
          <a class="navbar-brand" href="{% url 'soundspace:user' id=request.session.user_id %}">{{request.session.username}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!-- <a href='{% url 'upload:index' %}'><button class="navbar-right">Uploads</button></a> -->
          <form class="navbar-form navbar-right" action='{% url 'soundspace:logout' %}' method='POST'>
            {% csrf_token %}
            <!-- <div class="form-group"> -->
              <!-- <input type="text" placeholder="Email" class="form-control"> -->
            <!-- </div> -->
            <!-- <div class="form-group"> -->
              <!-- <input type="password" placeholder="Password" class="form-control"> -->
            <!-- </div> -->

            <button type="submit" class="btn btn-success">Sign Out</button>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Hello, {{request.session.username}}</h2>
        <a href="{% url 'soundspace:update_profile' id=request.session.user_id %}">Edit your account!</a><br>
        <h4> Here are some new users:</h4>
      </div>
    </div>

    <div class="container">
      <div class="feed">
      {% for song in all_songs %}
        <h4>{{song.title}} - {{song.artist}}</h4>
        <p>Posted by: <a href='{% url 'soundspace:user' id=song.user.id %}'>{{song.user.name}}</a> {{song.created_at|date:"M d H:i"}}</p>
        <audio controls>
              <source src="" type="audio/mpeg">
          <!-- <source src="{% static 'media/' %}{{song.song}}" type="audio/mpeg"> -->
        </audio>
        <form action="{% url 'soundspace:addcomment' %}" method="post">
          {% csrf_token %}
          {{commentForm.as_p}}
          <input hidden name='song_id' value='{{song.id}}'>
          <input type="submit" value="Comment" />
        </form>

          {% for comment in comments %}
            {% if comment.song.id == song.id %}
            <div class="comment">
              <a href='{% url 'soundspace:user' id=comment.user.id %}'><p>{{comment.user.name}}</a> at {{comment.created_at|date:"M d H:i"}}</p>
              <p>{{comment.comment}}</p>
            </div>
            <form action="{% url 'soundspace:deletecomment' %}" method="post">
              {% csrf_token %}
              <input hidden name='comment_id' value='{{comment.id}}'>
              <input type="submit" value="Delete Comment" />
            </form>
            {% endif %}
          {% endfor %}
        {% endfor %}
        </div>

      <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

       </div>
        <div class="col-md-4">

        </div>
      </div>

      <hr>

      <footer>

      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'soundcloud/js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'soundcloud/js/bootstrap.min.js'%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'soundcloud/js/ie10-viewport-bug-workaround.js'%}"></script>
  </body>
</html>
