<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Soundspace | Edit Profile</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'soundcloud/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'soundcloud/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'soundcloud/css/jumbotron.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'soundcloud/js/ie-emulation-modes-warning.js' %}"></script>
  </head>

  <body>

    <nav class="navbar navbar-light bg-faded navbar-fixed-top" style="background-color: #d3d3d3;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'loginandreg:homepage' %}"><img src='{% static 'loginandreg/image/soundspace.png' %}'></a>
          <a class="navbar-brand" href="{% url 'soundspace:stream' %}">Home</a>
          <a class="navbar-brand" href="{% url 'upload:index' %}">Uploads</a>
          <a class="navbar-brand" href="{% url 'soundspace:user' id=request.session.user_id %}">{{request.session.username}}</a>
          <a class="navbar-brand">
            <form method="get" action="{% url 'soundspace:search' %}">
              <label for="id_q">Search:</label>
              <input type="text" name="q" id="id_q"/>
              <input type="submit" value="Submit"/>
            </form>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <!-- <a href='{% url 'upload:index' %}'><button class="navbar-right">Uploads</button></a> -->
          <form class="navbar-form navbar-right" action='{% url 'soundspace:logout' %}' method='POST'>
            {% csrf_token %}
            <!-- <div class="form-group"> -->
              <!-- <input type="text" placeholder="Email" class="form-control"> -->
            <!-- </div> -->
            <!-- <div class="form-group"> -->
              <!-- <input type="password" placeholder="Password" class="form-control"> -->
            <!-- </div> -->

            <button type="submit" class="btn btn-success">Sign Out</button>
          </form>

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>Hello, {{request.session.username}}</h2>
        <a href="{% url 'soundspace:update_profile' id=request.session.user_id %}">Edit your account!</a><br>
      </div>
    </div>

    <div class="container">
      <h4> Update your profile:</h4>
      <form class="" action="{% url 'soundspace:update_profile' id=request.session.user_id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{updateForm.as_p}}
        <input type="submit" name="upload" value="Edit your profile!">
      </form>
        <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        </div>

      <hr>

      <footer>

      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'soundcloud/js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'soundcloud/js/bootstrap.min.js'%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'soundcloud/js/ie10-viewport-bug-workaround.js'%}"></script>
  </body>
</html>
