<!DOCTYPE html>
{% load static %}
{% load social_widgets %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Profile Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'soundcloud/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'soundcloud/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'soundcloud/css/jumbotron.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'soundcloud/js/ie-emulation-modes-warning.js' %}"></script>

  </head>
  <body>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <nav class="navbar navbar-light bg-faded navbar-fixed-top" style="background-color: #d3d3d3;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'loginandreg:homepage' %}"><img src='{% static 'loginandreg/image/soundspace.png' %}'></a>
          <a class="navbar-brand" href="{% url 'soundspace:stream' %}">Home</a>
          <a class="navbar-brand" href="{% url 'upload:index' %}">Uploads</a>
          <a class="navbar-brand" href="{% url 'soundspace:user' id=request.session.user_id %}">{{request.session.username}}</a>
          <a class="navbar-brand searchbar">
            <form method="get" action="{% url 'soundspace:search' %}">
              <label for="id_q">Search:</label>
              <input type="text" name="q" id="id_q"/>
              <input type="submit" value=""/>
            </form>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action='{% url 'soundspace:logout' %}' method='POST'>
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Sign Out</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="jumbotron">
      <div class="container">

        <div class='profile'>
          <h2>{{profile_user.name}}</h2>
          {% if profile_user.image %}
            <img class='profilepic' src='{% static 'soundcloud/' %}{{profile_user.image}}' alt='Profile Picture'>
          {% endif %}
          {{profile_user.description}}
        </div>

        <div class='followbox'>
          <div class='follow'>
          {% if not following %}
            <form action='{% url 'soundspace:follow' %}' method='POST'>
            {% csrf_token %}
              <input hidden name='followerid' value='{{request.session.user_id}}'>
              <input hidden name='followingid' value='{{profile_user.id}}'>
              <input type='submit' name='follow' value=''>
            </form>
          </div>
          <br>
          {% elif following %}
            <div class='unfollow'>
              <form action='{% url 'soundspace:unfollow' %}' method='POST'>
              {% csrf_token %}
                <input hidden name='followerid' value='{{request.session.user_id}}'>
                <input hidden name='unfollowid' value='{{profile_user.id}}'>
                <input type='submit' name='unfollow' value='Un'>
              </form>
            </div>
          <br>
          {% endif %}
          <p>Followers: {{num_followers}}</p>
          <p>Following: {{num_following}}</p>
          <br>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3>Tracks</h3>
          {% for song in all_songs %}
          <div class='song-image'>
            <img class='song-cover' src='{% static 'soundcloud/' %}{{song.cover_image}}' alt='Song Cover'>
          </div>
          <div class='song-info'>
            <a href='{% url 'soundspace:song' id=song.id %}'><span class='song-title'>{{song.title}}</a> - {{song.artist}}</span>
            <p>Posted by: <a href='{% url 'soundspace:user' id=song.user.id %}'>{{song.user.name}}</a> {{song.created_at|date:"M d H:i"}}</p>
            {% social_widget_render "twitter/share_button.html" href="" %}<br>
            <div class="fb-share-button" data-href="http://127.0.0.1:8000/soundspace/{{song.id}}" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a></div>

          </div>
            <audio id="music" preload="true">
              <source src="{% static 'soundcloud/' %}{{song.song}}">
            </audio>
            <div id="audioplayer">
              <button id="pButton" class="play"></button>
              <div id="timeline">
                <div id="playhead"></div>
              </div>
            </div>
            <div class='activitybar'>
            {% if song.id in user_liked %}
            <div class='unlikebtn'>
            <form action="{% url 'soundspace:unlike' %}" method="post">
            {% csrf_token %}
              <input hidden name='song_id' value='{{song.id}}'>
              <input class='unlike'type="submit" value="" />
            </form>
          </div>
          {% else %}
          <div class='likebtn'>
          <form action="{% url 'soundspace:like' %}" method="post">
            {% csrf_token %}
            <input hidden name='song_id' value='{{song.id}}'>
            <input type="submit" value="" />
          </form>
          </div>
          {% endif %}
          <div class='repost'>
            <form class="" action="{% url 'upload:repost' id=song.id %}" method="post">
              {% csrf_token %}
              <input type="submit" name="" value="">
            </form>
          </div>
          <div class='playlist'>
            <form class="" action="{% url 'upload:add_playlist' id=song.id %}" method="post">
              {% csrf_token %}
              <input type="submit" name="add" value="">
              <select class="" name="playlist_id">
                {% for playlist in playlists %}
                  <option value="{{playlist.id}}">{{playlist.name}}</option>
                {% endfor %}
              </select>
            </form>
          </div>
          <br>
        </div>
          <br>
        <div class='commentbox'>
          <form action="{% url 'soundspace:addcomment' %}" method="post">
            {% csrf_token %}
            {% if logged_on_user.image %}
              <img class='commentprofilepic' src='{% static 'soundcloud/' %}{{logged_on_user.image}}' alt='Profile Picture'>
            {% endif %}
            {{commentForm}}
            <input hidden name='song_id' value='{{song.id}}'>
            <input type="submit" value="" />
          </form>
        </div>
            {% for comment in comments %}
              {% if comment.song.id == song.id %}
              <div class='bigcommentbox'>
                <div class="comment-user-img">
                  <img class='commentuserpic' src='{% static 'soundcloud/' %}{{comment.user.image}}'>
                </div>
                <div class='comment'>
                <a href='{% url 'soundspace:user' id=comment.user.id %}'><p>{{comment.user.name}}</a> at {{comment.created_at|date:"M d H:i"}}</p>
                {{comment.comment}}
                {% if comment.user.id == request.session.user_id %}
                <form action="{% url 'soundspace:deletecomment' %}" method="post">
                  {% csrf_token %}
                  <input hidden name='comment_id' value='{{comment.id}}'>
                  <input type="submit" value="" />
                </form>
                {% endif %}
                </div>
              </div>
              {% endif %}
          {% endfor %}
          <br><br>
          {% endfor %}

        </div>
        <div class="col-md-3">
          <h3>Playlists:</h3>
          <form class="" action="{% url 'upload:create_playlist' %}" method="post">
            {% csrf_token %}
            {{playlistForm.as_p}}
            <input type="submit" name="" value="Create a playlist">
          </form>
          {% for playlist in playlists%}
              <ol>
                <li><a href="{% url 'upload:playlist_info' id=playlist.id %}">{{playlist.name}}</a>: Genre: {{playlist.genre}}, Description: {{playlist.description}} </li>
              </ol>
          {% endfor %}
        </div>

        <div class="col-md-3">
          <h3>Reposts:</h3>
          {% for repost in reposts %}
          <a href='{% url 'soundspace:song' id=repost.post.id %}'>{{repost.post.title}}</a> - {{repost.post.artist}}
          <audio id="music" preload="true">
            <source src="{% static 'soundcloud/' %}{{repost.post.song}}">
          </audio>
          <div id="audioplayer">
            <button id="pButton" class="play"></button>
            <div id="timeline">
              <div id="playhead"></div>
            </div>
          </div>

          {% if repost.user.id == request.session.user_id %}
            <div class='repost'>
            <form class="" action="{% url 'upload:remove_repost' id=repost.post.id %}" method="post">
              {% csrf_token %}
              <input type="submit" name="" value="">
            </form>
            </div>
          {% endif %}
        {% endfor %}
        </div>
        </div>

      <hr>

      <footer>

      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'soundcloud/js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'soundcloud/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'soundcloud/js/musicplayer.js'%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'soundcloud/js/ie10-viewport-bug-workaround.js'%}"></script>
  </body>
</html>
